html {
  font-family: 'Calibri'
}

.main-container {
  margin-left:20%;
  margin-right:20%;
  margin-top:20px;
}

.footer-container {
  background-color: #ddd;
  margin: 0px;
  height: 30px;
  padding-top:5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0px;
}

.footer {
  margin-right: 20%;
  margin-left: 20%;
  border: none;
  width: 60%
}

.footer-tr {
  margin-top:10px;
  width: 100%;

}

.footer-td {
  border: none;
  width: 50%;
  text-align: center;
}

.intro-head {
  margin-bottom:0px;
}

.undergrad-head {
  margin-bottom: -5px;
}

table, td {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 5px 10px;
}

th {
  padding: 5px 10px;
  font-size: 20px;
}

a {
  font-style: normal;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #922827;
}

.small-img {
  width: 350px;
  margin: 0px;
}

.img-hold {
  border: 1px dashed #333;
  padding: 3px;
  margin: 25 0px;
  width: 350px;
}

.course-holder {
  border: none;
  margin-bottom: 50px;
}

.course-num {
  margin-bottom: 0px;
}

.course-details {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 5px;
  font-size: 12px;
}

.course-req {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 0px;
  font-size: 10px;
}

.course-td {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
